/* --------------- BASIC SETUP ---------------- */
html {
  background-color: #fff;
  color: #555555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-rendering: optimizeLegibility; }

/*---------- REUSABLE COMPONENTS ----------*/
.ghv-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center; }

/*---------------- HOMEPAGE ---------------*/
.wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: minmax(0px, 1fr) 5px minmax(0, 900px) 5px minmax(0px, 1fr);
  grid-template-columns: minmax(0px, 1fr) minmax(0, 900px) minmax(0px, 1fr);
  -ms-grid-rows: 70px 5px auto 5px auto 5px auto 5px auto;
  grid-template-rows: 70px auto auto auto auto;
  grid-template-areas: ". n ." ". hi ." ". s ." ". c ." ". test ."; }
  .wrapper .navigation {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: n;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70px 3px minmax(150px, 1fr) 3px 120px;
    grid-template-columns: 70px minmax(150px, 1fr) 120px;
    -ms-grid-rows: 70px;
    grid-template-rows: 70px;
    grid-template-areas: "l m a";
    grid-gap: 3px;
    border-bottom: 1px solid #c9d4bb; }
    .wrapper .navigation .logo {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: l; }
    .wrapper .navigation .myBSRH {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: m;
      -ms-grid-row-align: center;
      align-self: center;
      -ms-grid-column-align: right;
      justify-self: right; }
    .wrapper .navigation .advertise {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
      grid-area: a;
      padding: 3px 10px;
      border-radius: 5px;
      color: #fff;
      background: #ff8000;
      border: 2px solid #ffc476; }
    .wrapper .navigation .userbox {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
      grid-area: a; }
  .wrapper .greetings {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: hi; }
  .wrapper .searchbar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: s;
    border-radius: 5px;
    background-color: #0095f8;
    display: -ms-grid;
    display: grid;
    grid-column-gap: 10px;
    align-self: center;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 50px;
    grid-template-areas: "s r sub"; }
    .wrapper .searchbar input[type="text"], .wrapper .searchbar textarea {
      background-color: #b3d9f8;
      border-radius: 5px;
      height: 28px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      border: none; }
    .wrapper .searchbar #search {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: s;
      margin-left: 10px; }
    .wrapper .searchbar #region {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: r; }
    .wrapper .searchbar button {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
      grid-area: sub;
      height: 30px;
      -ms-grid-row-align: center;
      align-self: center;
      border-radius: 5px;
      margin-right: 10px; }
  .wrapper .categories {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    grid-area: c;
    background-color: #f7f7f7;
    display: -ms-grid;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
    -ms-grid-rows: (50px)[4];
    grid-template-rows: repeat(4, 50px); }
    .wrapper .categories .category {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto 150px;
      grid-template-columns: auto 150px;
      grid-auto-rows: 50px;
      -ms-grid-row-align: center;
      align-self: center;
      -ms-grid-column-align: left;
      justify-self: left; }
      .wrapper .categories .category img {
        color: aqua;
        -ms-grid-column-align: right;
        justify-self: right;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        height: 25px;
        padding-right: 7px; }
      .wrapper .categories .category span {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: left;
        justify-self: left; }
  .wrapper .new-ad-form {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: s; }
  .wrapper .new-ad-form2 {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
    grid-area: test; }

/*------------------------------*/
