/* --------------- BASIC SETUP ---------------- */
html {
    background-color: #fff;
    color: #555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

/*---------- REUSABLE COMPONENTS ----------*/
.ghv-center {
    align-self: center;
    justify-self: center;
}

/*---------------- HOMEPAGE ---------------*/
.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: minmax(0px, 1fr) minmax(0, 900px) minmax(0px, 1fr);
    grid-template-rows: 70px auto auto;
    grid-template-areas: 
        ". n ."
        ". s ."
        ". c ."
        ". test .";

    .navigation {
        grid-area: n;
        display: grid;
        grid-template-columns: 70px minmax(150px, 1fr) 120px;
        grid-template-rows: 70px;
        grid-template-areas: 
            "l m a";
        grid-gap: 3px;
        border-bottom: 1px solid rgb(201, 212, 187);

        .logo {
            grid-area: l;
        }

        .myBSRH {
            grid-area: m;
            align-self: center;
            justify-self: right;
        }

        .advertise {
            grid-area: a;
            padding: 3px 10px;;
            border-radius: 5px;
            color: #fff;
            background: rgb(255, 128, 0);
            border: 2px solid rgb(255, 196, 118);
        }
        
        .userbox {
            grid-area: a;
        }
    }

    .searchbar {
        grid-area: s;
        border-radius: 5px;
        background-color: rgb(0, 149, 248);
        display: grid;
        grid-column-gap: 10px;
        align-self: center;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: 50px;
        grid-template-areas: 
            "s r sub";

        input[type="text"], textarea {
            background-color :  rgb(179, 217, 248); 
            border-radius: 5px;
            height: 28px;
            align-self: center;  
            border: none;
        }

        #search {         
            grid-area: s;
            margin-left: 10px;
        }

        #region {
            grid-area: r;
        }

        button {
            grid-area: sub;
            height: 30px;
            align-self: center;
            border-radius: 5px;
            margin-right: 10px;
        }
        
    }

    .categories {
        grid-area: c;
        background-color: rgb(247, 247, 247);
        display: grid;
        grid-gap: 7px;
        grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
        grid-template-rows: repeat(4, 50px);
            
        .category {
            display: grid;
            grid-template-columns: auto 150px;
            grid-auto-rows: 50px;
            align-self: center;
            justify-self: left;
            
            img {
                color: aqua;
                justify-self: right;
                align-self: center;
                height: 25px;
                padding-right: 7px;
            }

            span {
                align-self: center;
                justify-self: left;
            }
        }
    }

    .new-ad-form {
        grid-area: s;
    }

    .new-ad-form2 {
        grid-area: test;
    }
}

/*------------------------------*/