<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles/style.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="navigation">
                <div class="logo">
                    <img src="static/img/logo.svg" alt="Logo">
                </div>
                <div class="myBSRH">My OLX</div>
                <div class="advertise">+ Advertise</div>
            </div>

            <div class="categories">
                <div class="category"><img src="static/img/category_car.svg">Motors</div>
                <div class="category"><img src="static/img/category_properties.svg">Properties</div>
                <div class="category"><img src="static/img/category_work.svg">Job</div>
                <div class="category"><img src="static/img/category_house_garden.svg">House & Garden</div>
                <div class="category"><img src="static/img/category_electronics.svg">Electronics</div>
                <div class="category"><img src="static/img/category_fashion.svg">Fashion</div>
                <div class="category"><img src="static/img/category_agriculture.svg">Agriculture</div>
                <div class="category"><img src="static/img/category_animals.svg">Animals</div>
                <div class="category"><img src="static/img/category_kids.svg">Kids</div>
                <div class="category"><img src="static/img/category_sport.svg">Sport & Hobby</div>
                <div class="category"><img src="static/img/category_music.svg">Music & Education</div>
                <div class="category"><img src="static/img/category_services.svg">Services</div>
                <div class="category"><img src="static/img/category_wedding.svg">Wedding</div>
                <div class="category"><img src="static/img/category_free.svg">Free</div>
                <div class="category"><img src="static/img/category_swap.svg">Swap</div>
                <div class="category"><img src="static/img/category_find_engineer.svg">Find specialist</div>
            </div>
        </div>
    </body>
</html>