<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles/style.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="navigation">
                <div class="logo">
                    <img src="static/img/logo.svg" alt="Logo">
                </div>
                <div class="myBSRH">My OLX</div>
                <div class="advertise">+ Advertise</div>
            </div>

            <div class="categories">
                <div class="category"><img src="static/img/category_car.svg"><span>Motors</span></div>
                <div class="category"><img src="static/img/category_properties.svg"><span>Properties</span></div>
                <div class="category"><img src="static/img/category_work.svg"><span>Job</span></div>
                <div class="category"><img src="static/img/category_house_garden.svg"><span>House & Garden</span></div>
                <div class="category"><img src="static/img/category_electronics.svg"><span>Electronics</span></div>
                <div class="category"><img src="static/img/category_fashion.svg"><span>Fashion</span></div>
                <div class="category"><img src="static/img/category_agriculture.svg"><span>Agriculture</span></div>
                <div class="category"><img src="static/img/category_animals.svg"><span>Animals</span></div>
                <div class="category"><img src="static/img/category_kids.svg"><span>Kids</span></div>
                <div class="category"><img src="static/img/category_sport.svg"><span>Sport & Hobby</span></div>
                <div class="category"><img src="static/img/category_music.svg"><span>Music & Education</span></div>
                <div class="category"><img src="static/img/category_services.svg"><span>Services</span></div>
                <div class="category"><img src="static/img/category_wedding.svg"><span>Wedding</span></div>
                <div class="category"><img src="static/img/category_free.svg"><span>Free</span></div>
                <div class="category"><img src="static/img/category_swap.svg"><span>Swap</span></div>
                <div class="category"><img src="static/img/category_find_engineer.svg"><span>Find specialist</span></div>
            </div>
        </div>
    </body>
</html>