<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles/style.css">
    </head>
    <body>
        <div class="navigation">
            <div class="logo">
                <img src="static/img/logo.svg" alt="Logo">
            </div>
            <div class="myBSRH">My OLX</div>
            <div class="advertise">+ Advertise</div>
        </div>

        <div class="categories">
            <img src="static/img/category_car.svg">Motors
            <img src="static/img/category_properties.svg">Properties
        </div>
    </body>
</html>