.borders {
  border: 1px solid #0c835b; }

.wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: [empty-start] 5px minmax(0px, 1fr) 5px [main-start] 5px 3fr 5px [empty-end] 5px auto 5px [empty-start] 5px 3fr 5px [main-end] 5px minmax(0px, 1fr) 5px [empty-end];
  grid-template-columns: [empty-start] minmax(0px, 1fr) [main-start] 3fr [empty-end] auto [empty-start] 3fr [main-end] minmax(0px, 1fr) [empty-end];
  -ms-grid-rows: 70px 5px 400px;
  grid-template-rows: 70px 400px;
  grid-template-areas: ". n n n ." ". . c . ."; }
  .wrapper .navigation {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-area: n;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70px 3px minmax(100px, 1fr) 3px 150px;
    grid-template-columns: 70px minmax(100px, 1fr) 150px;
    -ms-grid-rows: 70px;
    grid-template-rows: 70px;
    grid-template-areas: "l m a";
    grid-gap: 3px;
    border-bottom: 1px solid #c9d4bb; }
    .wrapper .navigation .logo {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: l; }
    .wrapper .navigation .myBSRH {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: m;
      text-align: right;
      -ms-grid-row-align: center;
      align-self: center; }
    .wrapper .navigation .advertise {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
      grid-area: a;
      padding: 3px 10px;
      -ms-grid-row-align: center;
      align-self: center;
      -ms-grid-column-align: center;
      justify-self: center;
      border-radius: 5px;
      color: #fff;
      background: #ff8000;
      border: 2px solid #ffc476; }
  .wrapper .categories {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    grid-area: c;
    grid-gap: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px; }
    .wrapper .categories .category {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      -ms-grid-column-align: left;
      justify-self: left; }
      .wrapper .categories .category img {
        height: 25px;
        padding-right: 7px; }
