.borders {
    border: 1px solid rgb(12, 131, 91);
}

.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: [empty-start] minmax(0px, 1fr) [main-start] 970px [main-end] minmax(0px, 1fr) [empty-end];
    grid-template-rows: 75px 400px;

    .navigation {
        grid-column: main-start / main-end;
        display: grid;
        grid-template-columns: 70px minmax(100px, 1fr) 150px;
        grid-template-rows: 70px;
        grid-template-areas: 
            "l m a";
        grid-gap: 3px;
        border-bottom: 1px solid rgb(201, 212, 187);

        .logo {
            grid-area: l;
        }

        .myBSRH {
            grid-area: m;
            text-align: right;
            align-self: center;
        }

        .advertise {
            grid-area: a;
            padding: 3px 10px;;
            align-self: center;
            justify-self: center;
            border-radius: 5px;
            color: #fff;
            background: rgb(255, 128, 0);
            border: 2px solid rgb(255, 196, 118);
        }
    }

    .categories {
        grid-column: main-start / main-end;
        display: grid;
        grid-template-columns: 20px 1fr 20px 1fr;
        grid-template-rows: 50px 50px 50px 50px;

        img{
            justify-self: end;
        }
    }
}