.borders {
    border: 1px solid rgb(12, 131, 91);
}

.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: minmax(0px, 1fr) minmax(0, 900px) minmax(0px, 1fr);
    grid-template-rows: 70px 400px;
    grid-template-areas: 
        ". n  ."
        ". c  .";

    .navigation {
        grid-area: n;
        display: grid;
        grid-template-columns: 70px minmax(150px, 1fr) 120px;
        grid-template-rows: 70px;
        grid-template-areas: 
            "l m a";
        grid-gap: 3px;
        border-bottom: 1px solid rgb(201, 212, 187);

        .logo {
            grid-area: l;
        }

        .myBSRH {
            grid-area: m;
            text-align: right;
            align-self: center;
        }

        .advertise {
            grid-area: a;
            align-self: center;
            justify-self: center;
            padding: 3px 10px;;
            border-radius: 5px;
            color: #fff;
            background: rgb(255, 128, 0);
            border: 2px solid rgb(255, 196, 118);
        }
    }


    .categories {
        grid-area: c;
        display: grid;
        grid-gap: 7px;
        grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
        grid-template-rows: repeat(4, 50px);
            
        .category {
            display: grid;
            grid-template-columns: auto 150px;
            grid-auto-rows: 50px;
            align-self: center;
            justify-self: left;
            
            img {
                color: aqua;
                justify-self: right;
                align-self: center;
                height: 25px;
                padding-right: 7px;
            }

            span {
                align-self: center;
                justify-self: left;
            }
        }
    }
}