<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=ad.author.username) }}">
                <img src="{{ ad.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
                <a href="{{ url_for('user', username=ad.author.username) }}">
                    {{ ad.author.username }}
                </a>
            {% endset %}
            {{ _('%(username)s said %(when)s', username=user_link, when=moment(ad.timestamp).fromNow()) }}
            <br>
            {{ ad.title }}
            <br>
            {{ ad.category }}
            <br>
            {{ ad.description }}
        </td>
    </tr>
</table>