<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">        <!-- <link rel="stylesheet" type="text/css" href="static/styles/style.css?version=3.2"> -->
    </head>
    <body>
        <div class="wrapper">
            <div class="navigation">
                <div class="logo">
                    <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo">
                </div>
                <a href="{{ url_for('explore') }}" class="explore">Expolore</a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}" class="myBSRH">Login</a>
                {% else %}
                <div class="myBSRH">
                    <a href="{{ url_for('user', username=current_user.username) }}">My BSRH</a>
                </div>
                <div class="logout">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
                {% endif %}
                <a href="{{ url_for('new_ad_form') }}" class="advertise ghv-center">+ Advertise</a>
            </div>
            <div class="new-ad-form2">
                <hr>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>