{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="searchbar">
        <input type="text" id="search" name="search">
        <input type="text" id="region" name="region">
        <button>Search</button>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-3"><img src="static/img/category_car.svg" style="height: 25px;">Motors</div>
            <div class="col-md-3"><img src="static/img/category_properties.svg" style="height: 25px;">Properties</div>
            <div class="col-md-3"><img src="static/img/category_work.svg" style="height: 25px;">Job</div>
            <div class="col-md-3"><img src="static/img/category_house_garden.svg" style="height: 25px;">House & Garden</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3"><img src="static/img/category_electronics.svg" style="height: 25px;">Electronics</div>
            <div class="col-md-3"><img src="static/img/category_fashion.svg" style="height: 25px;">Fashion</div>
            <div class="col-md-3"><img src="static/img/category_agriculture.svg" style="height: 25px;">Agriculture</div>
            <div class="col-md-3"><img src="static/img/category_animals.svg" style="height: 25px;">Animals</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3"><img src="static/img/category_kids.svg" style="height: 25px;">Kids</div>
            <div class="col-md-3"><img src="static/img/category_sport.svg" style="height: 25px;">Sport & Hobby</div>
            <div class="col-md-3"><img src="static/img/category_music.svg" style="height: 25px;">Music & Education</div>
            <div class="col-md-3"><img src="static/img/category_services.svg" style="height: 25px;">Services</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3"><img src="static/img/category_wedding.svg" style="height: 25px;">Wedding</div>
            <div class="col-md-3"><img src="static/img/category_free.svg" style="height: 25px;">Free</div>
            <div class="col-md-3"><img src="static/img/category_swap.svg" style="height: 25px;">Swap</div>
            <div class="col-md-3"><img src="static/img/category_find_engineer.svg" style="height: 25px;">Find specialist</div>
        </div>
    </div>
    <h1>Hi {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% for ad in ads %}
        {% include '_ad.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer ads
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
{% endblock %}