{% extends "base.html" %}

{% block content %}
    <div class="searchbar">
        <input type="text" id="search" name="search">
        <input type="text" id="region" name="region">
        <button>Search</button>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-3"><img src="static/img/category_car.svg" style="height: 25px;">Motors</div>
            <div class="col-md-3"><img src="static/img/category_properties.svg" style="height: 25px;">Properties</div>
            <div class="col-md-3"><img src="static/img/category_work.svg" style="height: 25px;">Job</div>
            <div class="col-md-3"><img src="static/img/category_house_garden.svg" style="height: 25px;">House & Garden</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3"><img src="static/img/category_electronics.svg" style="height: 25px;">Electronics</div>
            <div class="col-md-3"><img src="static/img/category_fashion.svg" style="height: 25px;">Fashion</div>
            <div class="col-md-3"><img src="static/img/category_agriculture.svg" style="height: 25px;">Agriculture</div>
            <div class="col-md-3"><img src="static/img/category_animals.svg" style="height: 25px;">Animals</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3"><img src="static/img/category_kids.svg" style="height: 25px;">Kids</div>
            <div class="col-md-3"><img src="static/img/category_sport.svg" style="height: 25px;">Sport & Hobby</div>
            <div class="col-md-3"><img src="static/img/category_music.svg" style="height: 25px;">Music & Education</div>
            <div class="col-md-3"><img src="static/img/category_services.svg" style="height: 25px;">Services</div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3"><img src="static/img/category_wedding.svg" style="height: 25px;">Wedding</div>
            <div class="col-md-3"><img src="static/img/category_free.svg" style="height: 25px;">Free</div>
            <div class="col-md-3"><img src="static/img/category_swap.svg" style="height: 25px;">Swap</div>
            <div class="col-md-3"><img src="static/img/category_find_engineer.svg" style="height: 25px;">Find specialist</div>
        </div>
    </div>
    {% block content2 %}
    <div class="greetings">
        <h1>Hi {{ current_user.username }}!</h1>
        {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.ad.label }}<br>
                {{ form.ad(cols=32, rows=4) }}<br>
                {% for error in form.ad.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        {% endif %}
        {% for ad in ads %}
            {% include '_ad.html' %}
        {% endfor %}
        {% if prev_url %}
        <a href="{{ prev_url }}">Newer ads</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Older ads</a>
        {% endif %}
    </div>
    {% endblock %}
{% endblock %}