{% extends "base.html" %}

{% block app_content %}
    {% if category %}
        <h1>{{ category }}</h1>
    {% else %}
        <h1>{{ _('Search Results') }}</h1>
    {% endif %}
    {% if ads %}
        {% for ad in ads %}
            {% include '_ad.html' %}
        {% endfor %}
    {% else %}
        <h3><i>There are currently no ads in this category. Please check later.</i></h3>
    {% endif %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>
                    {{ _('Previous results') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Next results') }}
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}